<!DOCTYPE html>
<html>
<head>
    <title>Create Order</title>
</head>
<body>
    <h1>Create New Order</h1>
    <form method="POST">
        <label>User:</label>
        <select name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select><br><br>

        <label>Product:</label>
        <select name="product_id">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }} - ${{ product.price }}</option>
            {% endfor %}
        </select><br><br>

        <label>Quantity:</label>
        <input type="number" name="quantity" value="1"><br><br>

        <button type="submit">Place Order</button>
    </form>
</body>
</html>
